
.shapeCanvas{
    height:75vh;
    width: 75vw;
    border:solid;
    border-color:lightgrey;
    overflow: none;  
    margin: 0px;
    touch-action: none;
}
 
 .shape{
   fill-opacity:1;
   stroke:black;
   fill:black;
   stroke-width:1;  
}

.path{
  stroke-width:2;
  stroke:black;
  fill:none;
}

.button-row {
    display: table-cell;
}
  
  .button-row button {
    display: table-cell;
    margin: 6px;
  }